body{
    background-color: rgb(226, 221, 221);
}

.head {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.contain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    background: white;
    border-radius: 14px;
}

.user {
    display: flex; 
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.sep {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin-top: 130px;
}

.computer {
    display: flex; 
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.score {
    font-size: 130px;
}

.hands {
    display: inline-block;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;


}

button {
    width: 150px;
    height: 180px;
    border: 1;
    border-radius: 12px;
    background-color: rgb(253, 253, 253);
    margin-left: 70px;
    z-index: 100;
 
}

.rock {
    background-image: url(/images/rock.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.paper {
    background-image: url(/images/paper.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.scissors {
    background-image: url(/images/scissors.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
